

 body{
 	font-family: Arial;
    font-weight: 300;
 	color: black;
 	min-width: 400px;
 	width: 900px;
 	margin: auto;
 	font-weight: 200;
 	font-family: 'Roboto', sans-serif;
 	animation: fadeIn 2s;
 }

@keyframes fadeIn{
	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}
}

h1{
	font-size: 35px;
	/*font-family: Arial, Helvetica Neue, Helvetica,sans-serif; */
	font-family: 'Poppins', sans-serif;

}

nav{
	/*background-color: green;*/
	background-color: white;
	margin-top: 35px;
	display: flex;
	align-items: center;
	height: 60px;
}

nav a{
	color: black;
}

a:hover{
	color: #13894B;
}

nav a:hover {
	color: #1EB16C;
}

button{
   font-family: 'Poppins', sans-serif;
   background-color: #EDF6F0;
   height:42px;
   font-weight: bold;
   font-size: 15px;
   color: #1EB16C;
   border: none;
   outline:none;
   border-radius: 4px;
   /*padding: 0.5em 1em;*/
   padding-left: 1em;
   padding-right: 1em;
   letter-spacing:0.75px;
 }

 button:hover{
 	color: #13894B;
 	cursor:pointer;
 }

 hr{
 	background: #F4F4F4;
    height: 1px;
    border: 0px;
    margin-bottom: 9em;
 }

h3{
	margin-bottom: 0px;
}

h5{
 	margin-top: 5px;
 	color: #CCCCCB;
 	font-weight: normal;
 	font-size: 13px;
 }

#Start-Section p{
	font-size: 20px;
	line-height: 230%;
}

.body-links{
	color: #1EB16C;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    font-size: 13px;
}

 #Resume-Nav{
 	/*margin-top: 12px;*/
 	border-bottom: none;
  	margin-left: auto;
  	order: 2;
 	text-decoration: none;
 	font-weight: bold;
 }

 #Wave{
 	font-size: 50px;
 }

 #Start-Section{
 	text-align: center;
 	margin-top: 5em;
 	margin-bottom: 8em;
 }
.projects{
	display: flex;
	margin-bottom: 4em;
	/*margin-bottom: 9em;*/
}
 .left-side{
 	width: 300px;
 	font-size: 15px;
 	min-width: 250px;
 }
 .left-side p{
 	margin-top: 2em;
 	font-size: 15px;
 	line-height: 25px;
 	padding-right: 1.5em;
 	margin-bottom: 1.6em;
 }

 .right-side-video{ 
 	/*background-color: #FBFCFC;*/
 	margin-left: auto;
  	order: 2;
  	position: relative;
 }

 .right-side{
 	margin-left: auto;
  	order: 2;
  	position: relative;
 }

 #drawing-compressed{
 	width: 100%;
    height: auto;
 }

 video{
 	width: 550px;
 	min-width: 550px;
 	height: 309px;
  	width: auto;
 }
img {
 	height: 309px;
  	width: auto;
}

h3{
	margin-top: 0px;
}

footer{
	text-align: center;
	margin-bottom: 2em;
}

#contact {
	display: inline-block;
	width: 700px;
	min-height: 50px;
	height: auto;
	position: relative;
}

.socials1{ 
	position: absolute;
	top: 0px;
	left: 0px;
    font-size: 13px;
    line-height: 30px;
}

.socials2{
	line-height: 30px;
	font-size: 13px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;

}

.socials3{
    position: absolute;
	top: 0px;
	right: 0px;
    font-size: 13px;
    line-height: 30px;
}

.footer-link{
	color: #1EB16C;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    font-family: Arial, Helvetica Neue,Helvetica,sans-serif; 

}

#copyright{
	margin-top: 8em;
	color: #DDDDDD;
}

#rocker-emoji{
	font-size: 30px;
}

b{
	color: #1EB16C;
}

.socials1{
	z-index: 1;
}

a{
	border-bottom: 1px solid;
    padding-bottom: 5px;
}

#link{
	border-bottom: none;
}

/*
 video:hover{
 	opacity: 0.8;
 	cursor:pointer;
 }
*/
@media screen and (max-width: 1000px){

	#Start-Section p{
		font-size: 18px;
		line-height: 230%;
	}


	body{
		width: 700px;
	}

	button{
		height:35px;
	}

	 #Start-Section{
 		margin-top: 3em;
 	}

 	h1{
		font-size: 32px;
	}

	video{
 		min-width: 330px;
 		height: 250px;
  		width: auto;
	}
	img {
	 	min-width: 330px;
 		height: 250px;
  		width: auto;
	}

	.projects p{
		font-size: 14px;
	}

	#contact{
	 	width: 600px;
	}

}

@media screen and (max-width: 750px){
	.projects p{
		font-size: 12px;
	}

	.projects{
		margin-bottom: 4em;
		text-align: center;
	}

	#Start-Section p{
		font-size: 15px;
		line-height: 220%;
	}

	#Start-Section{
		margin-top: 2em;
 		margin-bottom: 2em;
 	}

 	body{
 		width: auto;
 		margin-right: 2em;
 		margin-left:  2em;
 	}

 	video{
 		/*min-width: 300px;*/
  		height: 100%;
  		width: 100%;
	}

	img {
		height: 100%;
  		width: 100%;
	}

	hr{
 		margin-bottom: 3em;
	}

	.socials1{ 
		position: relative;
	}

	.socials2{
		margin-top: 20px;
		position: relative;

	}

	.socials3{
		margin-top: 20px;
	    position: relative;

	}

	#contact{
		text-align: center;
		width: auto;
	}

	.projects {
      flex-wrap:wrap;
      justify-content: center;
  	}

	.left-side {
      order:2;
  	}

  	.right-side-video{
  	  margin-left: 0px;
      order:1;
  	}

  	 .left-side{
  	 	margin-top: 3em;
  	 	/*background-color: blue;*/
  	 	padding-right: 0px;
  		height: 100%;
  		width: 100%;
  	 }

  	 .left-side p{
  	 	padding-right: 0px;
  	 	font-size: 15px;
  	 }

  	 #copyright{
  	 	margin-top: 3em;
  	 }


}

@media screen and (max-width: 900px){
  	body{
  	 	min-width: 0;
  	}
}




